<launch>
    <!-- <node pkg="jetson_camera" type="camera_publisher_node.py" name="camera_publisher_node" output="screen">
        <rosparam command="load" file="$(find jetson_camera)/config/parameters.yaml" />
    </node> -->

    <node pkg="jetson_camera" type="image_processing_node.py" name="image_processing_node" output="screen" />

    <node pkg="jetson_camera" type="ocr_node.py" name="ocr_node" output="screen" />

    <!--
    <node pkg="jetson_camera" type="dual_images_subscriber_node.py" name="dual_images_subscriber_node" output="screen" />
    -->
</launch>